
.testimonials {
  padding: 40px 20px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.heading {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.video-slider {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 10px 0;
  margin-bottom: 15px;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.video-slider::-webkit-scrollbar {
  display: none; 
}


.t-video-card {
  position: relative;
  min-width: 256px;
  height: 317px;
  background: #ccc;
  border-radius: 12px;
  overflow: hidden;
  scroll-snap-align: start;
  flex-shrink: 0;
}

.t-video-card .t-thumbnel {
  width: 256px;
  height: 100%;
  object-fit: cover;
}



.infu{
    font-size: 12px;
}

.play-btn {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  background: rgba(156, 154, 154, 0.8);
  border: none;
  color: white;
  font-size: 24px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  background: rgba(32, 32, 32, 0.6);
  color: #fff;
  width: 100%;
  padding: 8px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.influencer{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.review-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  margin-top: 24px;
}

.review-flex{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

.review-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: left;
}

.review-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.review-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.review-header h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.review-header p {
  margin: 0;
  font-size: 13px;
  color: #666;
}

.rating {
  margin-left: auto;
  font-size: 14px;
  color: #555;
}

.review-text {
  font-size: 14px;
  color: #444;
}
